@import url('https://fonts.googleapis.com/css?family=Coming+Soon|Yellowtail&display=swap');

@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

@import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace&display=swap');

body {
    background-color: black;
}

img {
    width: 200px;
    display: flex;
    padding-bottom: 20px;
}

img:hover {
    animation: shake 0.5s;
}

h1 {
    color: white;
    font-family: Unicorn;
    font-size: 48px;
    font-style: italic;
}

div.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

textarea {
    width: 300px;
    height: 50px;
    border-radius: 4px;
}

button {
    width: 200px;
    height: 50px;
    margin-top: 15px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 24px;
    font-style: italic;
    border-radius: 4px;
    box-shadow: 0 10px black;
}

button:hover {
    animation: shake 0.5s;
    background-color: gray;
    /* animation-iteration-count: infinite; */
}

button:active {
    transform: translateY(4px);
}

#answer {
    
    color: #1DD1F5;
    margin: auto;
    text-align: center;
    margin-top: 15px;
    max-width: 400px;
    max-height: 100px;
    font-family: 'Covered By Your Grace', cursive;
    font-size: 36px;
    border-radius: 8px;

}

.placeholder {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }